<nav class="navbar navbar-light bg-primary">
    <a href="/" class="navbar-brand">
        <img src="/img/cc.png" id="img">
    </a>
    <a href="/perguntar" class="btn btn-light" id="botao-perguntar">Perguntar</a>
</nav>